@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700;900&display=swap');

body,
html {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

p {
	margin: 0;
	padding: 0;
}

button {
	border: none;
	margin: 0;
	padding: 0;
}

a, p
a:active,
a:hover {
	text-decoration: none;
	color: #000;
}



*,
*:before,
*:after {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 10px; /* ширина */
	height: 8px; /* высота */
	background-color: #f8f5f0;

}

::-webkit-scrollbar-thumb {
	background-color: #7f6051;
}

.wrapper {
	position: relative;
	display: flex;
	height: 830px;
	max-width: 1200px;
	background-color: #fff;
	margin: 50px auto auto;
}

.menu1 {
	display: inline-block;
	height: 100%;
	/* max-width: 510px; */
	width: 510px;
	background-color: #f8f5f0;
	margin-left: 0;
	position: relative;
}

.result {
	display: flex;
	height: 100%;
	width: 660px;
	background-color: #fff;
	margin: auto 0 auto auto;
	flex-wrap: wrap;
}


.desc-modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 1000;
}

.desc-modal__box {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #eee;
	width: 600px;
	z-index: 100000;
	padding: 15px;
	margin-top: 50vh;
}

.desc-modal__text {
	text-align: left;
	font-size: 20px;
	font-family: 'Jost', serif;

}

.desc-modal__underlay {
	/* display: none; */
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	z-index: 10000;
}

.desc-modal__close {
	position: absolute;
	margin: -36% auto auto auto;
	top: 50%;
	left: 100%;
	width: 40px;
	height: 40px;
	opacity: 1;
	background-color: #fff;
}
.desc-modal__close:hover {
	opacity: 0.6;
}
.desc-modal__close:before,
.desc-modal__close:after {
	position: absolute;
	left: 48%;
	content: ' ';
	height: 100%;
	width: 3px;
	background-color: #222;
}
.desc-modal__close:before {
	transform: rotate(45deg);
}
.desc-modal__close:after {
	transform: rotate(-45deg);
}



.int-modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 1000;
}

.int-modal__wrapper {
	position: absolute;
	width: 60%;
	height: auto;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
}

.int-modal__wrapper::before {
	content: '';
	display: block;
	padding-top: 66.666%;
}

.int-modal__close {
	position: absolute;
	/* right: 32px;
	top: 32px; */
	margin: -37% auto auto auto;
	top: 50%;
	left: 100%;
	width: 40px;
	height: 40px;
	opacity: 1;
	background-color: #eee;
}
.int-modal__close:hover {
	opacity: 0.6;
}
.int-modal__close:before,
.int-modal__close:after {
	position: absolute;
	left: 48%;
	content: ' ';
	height: 100%;
	width: 3px;
	background-color: #222;
}
.int-modal__close:before {
	transform: rotate(45deg);
}
.int-modal__close:after {
	transform: rotate(-45deg);
}


.int-modal__img {
	position: absolute;
	width: 100%;
	margin: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	pointer-events: none;
}

.int-modal__img::before {
	content: '';
	display: block;
	padding-top: 66.666%;
}

.int-modal__box {
	height: 100%;
	width: 55%;
	z-index: 1000;
	margin: -72% auto auto 21.3%;
	background-color: #fff;
}

.int-modal-result {
	position: relative;
	display: inline-block;
	margin: auto;
	width: 50%;
	height: auto;
	z-index: 10000;
}

.int-modal-result::after {
	content: '';
	display: block;
	padding-top: 200%;
}

.int-modal__underlay {
	/* display: none; */
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	z-index: 1000;
}


.where {
	height: 120px;
	width: 100%;
	background-color: #f8f5f0;
	/* background-color: #ccc; */
	display: flex;
	padding: 5px;
	flex-wrap: wrap;

	font-size: 20px;
	font-family: 'Jost', serif;
	font-weight: 400;
}

.where__text {
	font-size: 20px;
	display: flex;
	height: calc(40%-5px);
	width: 100%;
	margin: 0;
	background-color: #fff;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;

}

.where__button {
	display: flex;
	height: 60%;
	width: 49%;
	background-color: #fff;
	margin: auto;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-family: 'Jost', serif;
	font-weight: 400;

	cursor: pointer;
}

.case-box {
	height: 140px;
	width: 100%;
	background-color: #f8f5f0;
	/* background-color: #ccc; */
	scrollbar-color: #a76d50 #f8f5f0;
	scrollbar-width: thin;
	overflow-x: auto;
	scroll-snap-type: x proximity;
	display: none;
	flex-wrap: wrap;
	align-content: start;

	padding: 5px;
	margin-top: 5px;
}


.case-apartment-box {
	display: none;
	flex-wrap: wrap;
}

.case-apartment {
	display: none;
}

.case-apartment-wrapper {
	width: 100%;
	height: 30px;
	display: flex;
	flex-wrap: wrap;

}

.case-apartment-dots {
	width: 80%;
	height: 100%;
	background-color: #f8f5f0;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	/* flex-wrap: wrap; */
}

.case-apartment-dots__item {
	display: inline-block;
	background-color: #a76d50;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	margin: auto 5px;

}

.case-apartment-dots__itemActive {
	background-color: #653C28;
}


.case-apartment-but {
	width: 10%;
	height: 100%;
	background-color: #f8f5f0;
	transition: all 0.3s;
	cursor: pointer;
}

.case-apartment-but:hover {
	background-color: #F1EADF;
}

.case-apartment-but-img {
	color: #a76d50;
	width: 22px;
	height: 80%;
	margin: auto;
}

.case__item {
	display: inline-flex;
	width: 48%;
	height: 120px;
	/* height: auto; */
	margin: 5px auto 5px auto;
	cursor: pointer;
	position: relative;
	scroll-snap-align: center;
	background-color: #fff;
	transition: all 0.3s;
	border: 3px solid #e9e9e9;
	flex-wrap: wrap;

	text-align: center;
}

.case__item:hover {
	background-color: #f8f5f0;
}

.case__item-name {
	display: inline-block;
	width: auto;
	margin: 5px auto 0;
	font-family: 'Jost', serif;
	font-size: 20px;
	font-weight: bold;
}

.case__item-panel {
	display: inline-block;
	width: 100%;
	margin: 0px auto;
	font-family: 'Jost', serif;
	font-size: 18px;
	font-weight: bold;
}

.case__item-desc {
	display: inline-block;
	width: 100%;
	margin: 5px auto;
	font-family: 'Jost', serif;
	font-size: 15px;
	font-weight: normal;
}

.case__item-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 3px solid #e9e9e9;
	transition: all 0.3s;
}

.panelMenu {
	display: block;
}


.outPanel {
	height: 380px;
	width: 100%;
	display: flex;
	background-color: #f8f5f0;
	margin-top: 5px;
	flex-wrap: wrap;
}

.outPanel-wrapper {
	width: 100%;
	height: 50px;
	display: flex;
}

.outPanel-dots {
	width: 80%;
	height: 100%;
	background-color: #f8f5f0;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	/* flex-wrap: wrap; */
}

.outPanel-dots__item {
	display: inline-block;
	background-color: #a76d50;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	margin: auto 5px;

}

.outPanel-dots__itemActive {
	background-color: #653C28;
}


.outPanel-but {
	width: 10%;
	height: 100%;
	background-color: #f8f5f0;
	transition: all 0.3s;
	cursor: pointer;
}

.outPanel-but:hover {
	background-color: #F1EADF;
}

.outPanel-but-img {
	color: #a76d50;
	width: 35px;
	height: 80%;
	margin: auto;
}

.outPanel-box {
	padding: 5px;
	width: 100%;
	height: calc(100% - 50px);
	background-color: #f8f5f0;
	display: none;
	flex-wrap: wrap;
}

.outPanel__item {
	display: inline-flex;
	width: 22%;
	height: auto;
	margin: auto;
	cursor: pointer;
	position: relative;
	scroll-snap-align: center;
}

.outPanel__item::after {
	content: '';
	display: block;
	padding-top: 100%;
}

.outPanel__item:hover {
	background-color: #f8f5f0;
}

.outPanel__item-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 3px solid #e9e9e9;
	transition: all 0.3s;
}


.inPanel {
	height: 380px;
	width: 100%;
	display: flex;
	background-color: #f8f5f0;
	/* margin-top: 5px; */
	flex-wrap: wrap;
}

.inPanel-wrapper {
	width: 100%;
	height: 50px;
	display: flex;
}

.inPanel-dots {
	width: 80%;
	height: 100%;
	background-color: #f8f5f0;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	/* flex-wrap: wrap; */
}

.inPanel-dots__item {
	display: inline-block;
	background-color: #a76d50;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	margin: auto 5px;

}

.inPanel-dots__itemActive {
	background-color: #653C28;
}


.inPanel-but {
	width: 10%;
	height: 100%;
	background-color: #f8f5f0;
	transition: all 0.3s;
	cursor: pointer;
}

.inPanel-but:hover {
	background-color: #F1EADF;
}

.inPanel-but-img {
	color: #a76d50;
	width: auto;
	height: 80%;
	margin: auto;
}



.inPanel-box {
	padding: 5px;
	width: 100%;
	height: calc(100% - 50px);
	background-color: #f8f5f0;
	display: none;
	flex-wrap: wrap;
	/* align-items: center; */
}

.inPanel__item {
	display: inline-flex;
	width: 23%;
	height: auto;
	margin: auto;
	cursor: pointer;
	position: relative;
	scroll-snap-align: center;
}

.inPanel__item::after {
	content: '';
	display: block;
	padding-top: 100%;
}

.inPanel__item:hover {
	background-color: #f8f5f0;
}

.inPanel__item-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 3px solid #e9e9e9;
	transition: all 0.3s;
}

.knob-box {
	height: 380px;
	width: 100%;
	background-color: #f8f5f0;
	overflow-y: auto;
	scroll-snap-type: y proximity;
	scrollbar-color: #a76d50 #f8f5f0;
	scrollbar-width: thin;
	flex-wrap: wrap;
	align-content: start;
	padding: 5px;
	margin-top: 5px;
	display: none;
}

.knob__item {
	display: inline-flex;
	width: 30%;
	height: auto;
	margin: 5px 0 5px 3.3%;
	cursor: pointer;
	position: relative;
	scroll-snap-align: center;
	background-color: #fff;
	transition: all 0.3s;
}

.knob__item-box::after {
	content: '';
	display: block;
	padding-top: 100%;
}

.knob__item-box:hover {
	background-color: #f8f5f0;
}

.knob__item-img {
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 3px solid #e9e9e9;
	transition: all 0.3s;
}

.button-box {
	display: flex;
	margin: 0px auto 0px auto;
	height: 90px;
	width: 100%;
	padding: 30px 0 0 0px;
	background-color: #fff;
	/* position: absolute; */
	bottom: 0;
	/* justify-content: end; */
	justify-content: space-between;
}

.button__item {
	display: inline-block;
	background-color: #fff;
	height: 60px;
	width: 32.5%;
	/* margin: auto; */
	/* align-self: flex-end; */
	cursor: pointer;
	/* border: 3px solid #a76d50; */
}

/* .button-out {
	width: 100%;
} */

.button__text {
	font-size: 18px;
	font-family: 'Jost', serif;
}

.block-for-margin {
	height: 30px;
	width: 100%;
	background-color: #fff;
	display: none;
}

.box__text {
	height: 40px;
	width: 98%;
	font-size: 20px;
	font-family: 'Jost', serif;
	margin: auto;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}

.case-box__text {
	margin-top: 5px;
}



.result {
	display: flex;
	height: 100%;
	width: 660px;
	background-color: #fff;
	margin: auto 0 auto auto;
	flex-wrap: wrap;
}

.func__btns {
	display: flex;
	width: 100%;
	height: 16%;
	background-color: #fff;
	flex-wrap: wrap;
	padding: 0;
	justify-content: space-between;
}

.func__about {
	display: inline-block;
	width: 32.5%;
	height: 47%;
	background-color: #f8f5f0;
	border-radius: 32px;
	/* border: 3px solid #a76d50; */
	margin: auto;
	font-family: 'Jost', serif;
	font-size: 18px;
	cursor: pointer;
}

.func__interior {
	display: inline-block;
	width: 32.5%;
	height: 47%;
	font-family: 'Jost', serif;
	font-size: 18px;
	margin: auto;
	background-color: #f8f5f0;
	border-radius: 32px;
	/* border: 3px solid #a76d50; */
	/* border-radius: 32px; */
	cursor: pointer;
}

.func__link {
	display: inline-flex;
	margin: 0;
	width: 32.5%;
	height: 47%;
	background-color: #f8f5f0;
	border-radius: 32px;
	font-size: 24px;
	cursor: pointer;
	margin: auto;
	/* border: 3px solid #a76d50; */
}

.func__link__text {
	margin: auto;
	font-family: 'Jost', serif;
	text-align: center;
	font-size: 24px;
}

.func__info {
	display: inline-flex;
	width: 49.3%;
	height: 47%;
	background-color: #f8f5f0;
	border-radius: 32px;
	font-family: 'Jost', serif;
	font-size: 24px;
	margin: auto;
	/* align-items: center; */
   /* justify-content: center; */
	text-align: center;
	flex-wrap: wrap;
}

.func__info-name {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	border-radius: 32px;
	font-family: 'Jost', serif;
	font-size: 20px;
	/* margin: auto; */
	/* align-items: center; */
	/* line-height: 15px; */
	margin: 0;
}

.func__info-desc {
	display: inline-block;
	width: 100%;
	/* margin: 5px auto; */
	font-family: 'Jost', serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 13px;
	margin: 0;
}

.func__price {
	display: inline-flex;
	width: 49.3%;
	height: 47%;
	background-color: #f8f5f0;
	border-radius: 32px;
	font-family: 'Jost', serif;
	font-size: 24px;
	margin: auto;
	align-items: center;
   justify-content: center;
}

.func__price span {
	margin-right: 5px;
	font-weight: bold;
}

.result-box {
	display: flex;
	height: 76%;
	width: 100%;
}

.resultOut {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 53%;
	background-color: #fff;
	/* background-color: #fff; */
	margin: auto;
	/* margin-left: 5%; */
}

.resultIn {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 47%;
	background-color: #fff;
	/* background-color: #fff; */
	margin: auto;
	/* margin-left: 5%; */
}

/* .facing-result-box {
	height: 100%;
} */

.resultOut__item {
	/* margin: 20% auto auto 9%; */
	height: auto;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: block;
}

.resultIn__item {
	/* margin: 20% auto auto 14%; */
	height: auto;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: block;
}

.result__specItem {
	/* margin: 20% auto auto 9%; */
	height: auto;
	width: 80%;
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: auto;
}

.bot__btn-box {
	display: flex;
	width: 100%;
	height: 8%;
	background-color: #fff;
}

.bot__btn {
	display: inline-flex;
	margin: 0;
	width: 32%;
	height: 100%;
	background-color: #f8f5f0;
	border-radius: 32px;
	cursor: pointer;
	margin: auto;
}

.bot__btn__text {
	margin: auto;
	font-family: 'Jost', serif;
	font-size: 18px;
	text-align: center;
}



.case-inside {
	z-index: 100;
	display: none;
}

.case-result {
	z-index: 100;
}

.facingOut-result {
	z-index: 10;
}

.facingIn-result {
	z-index: 10;
}

.knobOut-result {
	z-index: 110;
}

.knobIn-result {
	z-index: 110;
}







.underlay {
	/* display: none; */
	background: #000;
	position: absolute;
	/* left: 0;
	top: 0; */
	height: 380px;
	width: 100%;
	opacity: 0.6;
	z-index: 100;
	/* margin: -5px -5px -5px -5px; */
}

.underlay__text {
	display: block;
	position: absolute;
	/* left: 0;
	top: 0; */
	height: 100px;
	width: 100%;
	/* opacity: 0.4; */
	opacity: 1;
	margin: 120px -5px -5px;
	font-size: 40px;
	text-align: center;
	z-index: 100;
	color: #fff;
}

.border {
	border: 3px solid #a76d50;
}

.none {
	display: none;
}

.block {
	display: block;
}

.flex {
	display: flex;
}
