@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

body,
html {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

a, p
a:active,
a:hover {
	text-decoration: none;
}



*,
*:before,
*:after {
	box-sizing: border-box;
}

.wrapper-kit {
	position: relative;
	display: flex;
	height: 800px;
	max-width: 1200px;
	background-color: #fff;
	margin: 50px auto auto;
}

.menu-kit {
	display: inline-block;
	height: 100%;
	/* max-width: 510px; */
	width: 510px;
	background-color: #fff;
	margin-left: 0;
}

.mobile__btn {
	display: none;
}

.name-item {
	height: 33px;
	width: 100%;
	margin: 0;
	margin-bottom: 15px;
	background-color: #f8f5f0;
	/* background-color: #ccc; */
	font-family: 'Merriweather', serif;
	font-weight: 400;
	padding-left: 10px;
	padding-top: 3px;
	font-size: 16px;
	color: #000
}


.knob-name {
	margin: 0;
}

.groupName-item-box {
	height: 60px;
	width: 100%;
	margin: auto;
	background-color: #f8f5f0;
	display: flex;
}

.groupName-item {
	height: 30px;
	width: 100%;
	margin: auto;
	/* margin-bottom: 15px; */
	/* background-color: #f8f5f0; */
	/* background-color: #ccc; */
	font-family: 'Merriweather', serif;
	font-weight: 400;
	padding-left: 10px;
	padding-top: 3px;
	font-size: 20px;
	color: #000;
	scroll-snap-align: center;
}

.models-kit {
	height: 165px;
	width: 100%;
	background-color: #f8f5f0;
	/* background-color: #ccc; */
	overflow-y: auto;
	scroll-snap-type: y proximity;
	scrollbar-color: #a76d50 #f8f5f0;
	scrollbar-width: thin;
	display: flex;
	flex-wrap: wrap;
	align-content: start;
	padding: 5px;

}

/* .modelsOut__item-box {
	display: inline-flex;
	width: 28%;
	height: auto;
	margin: 5px 0 5px 3.5%;
	cursor: pointer;
	position: relative;
	scroll-snap-align: center;
} */

.modelsOut__item-box {
	display: inline-flex;
	width: 30%;
	height: auto;
	margin: 5px 0 5px 3.3%;
	cursor: pointer;
	position: relative;
	scroll-snap-align: center;
	background-color: #fff;
	transition: all 0.3s;
}

.modelsOut__item-box::after {
	content: '';
	display: block;
	padding-top: 100%;
}

.modelsOut__item-box:hover {
	background-color: #f8f5f0;
}

.modelsOut__item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 3px solid #e9e9e9;
	transition: all 0.3s;

}

/*
.facingOut-kit {
	height: 155px;
	width: 100%;
	background-color: #f8f5f0;
	padding: 5px;
	overflow-y: scroll;
	scroll-snap-type: y proximity;
	scrollbar-color: #a76d50 #fff;
	scrollbar-width: thin;
	display: flex;
	flex-wrap: wrap;
}


.facingOut__item {
	width: 22%;
	height: auto;
	margin: 5px 0 5px 3%;
	background-color: #fff;
	border: 3px solid #e9e9e9;
	cursor: pointer;
	scroll-snap-align: center;
	transition: all 0.3s;
}

.facingOut__item:hover {
	background-color: #f8f5f0;
} */

.facingOut-kit {
	height: 145px;
	width: 100%;
	background-color: #f8f5f0;
	overflow-y: auto;
	scroll-snap-type: y proximity;
	scrollbar-color: #a76d50 #f8f5f0;
	scrollbar-width: thin;
	display: flex;
	flex-wrap: wrap;
	align-content: start;
	padding: 5px;
}

::-webkit-scrollbar {
    width: 10px; /* ширина */
    height: 8px; /* высота */
    background-color: #f8f5f0;

}

::-webkit-scrollbar-thumb {
    background-color: #7f6051;
}

.facingOut__item-box {
	display: inline-flex;
	width: 22%;
	height: auto;
	margin: 5px 0 5px 3%;
	cursor: pointer;
	position: relative;
	scroll-snap-align: center;
}

.facingOut__item-box::after {
	content: '';
	display: block;
	padding-top: 100%;
}

.facingOut__item-box:hover {
	background-color: #f8f5f0;
}

.facingOut__item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 3px solid #e9e9e9;
	transition: all 0.3s;
}

.facingIn-kit {
	height: 145px;
	width: 100%;
	background-color: #f8f5f0;
	overflow-y: auto;
	scroll-snap-type: y proximity;
	scrollbar-color: #a76d50 #f8f5f0;
	scrollbar-width: thin;
	display: flex;
	flex-wrap: wrap;
	align-content: start;
	padding: 5px
}

.facingIn__item-box {
	display: inline-flex;
	width: 22%;
	height: auto;
	margin: 5px 0 5px 3%;
	cursor: pointer;
	position: relative;
	scroll-snap-align: center;
}

.facingIn__item-box::after {
	content: '';
	display: block;
	padding-top: 100%;
}

.facingIn__item-box:hover {
	background-color: #f8f5f0;
}

.facingIn__item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 3px solid #e9e9e9;
	transition: all 0.3s;
}

/* .facingIn-kit {
	height: 158px;
	width: 100%;
	background-color: #f8f5f0;
	padding: 5px;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scrollbar-color: #a76d50 #fff;
	scrollbar-width: thin;
	display: flex;
	flex-wrap: wrap;
}


.facingIn__item {
	width: 22%;
	height: auto;
	margin: 5px 0 5px 3%;
	background-color: #fff;
	border: 3px solid #e9e9e9;
	cursor: pointer;
	scroll-snap-align: center;
	transition: all 0.3s;
}

.facingIn__item:hover {
	background-color: #f8f5f0;
} */

.knob-kit {
	height: 165px;
	width: 100%;
	background-color: #f8f5f0;
	overflow-y: auto;
	scroll-snap-type: y proximity;
	scrollbar-color: #a76d50 #f8f5f0;
	scrollbar-width: thin;
	display: flex;
	flex-wrap: wrap;
	align-content: start;
	padding: 5px
}

.knob__item-box {
	display: inline-flex;
	width: 30%;
	height: auto;
	margin: 5px 0 5px 3.3%;
	cursor: pointer;
	position: relative;
	scroll-snap-align: center;
	background-color: #fff;
	transition: all 0.3s;
}

.knob__item-box::after {
	content: '';
	display: block;
	padding-top: 100%;
}

.knob__item-box:hover {
	background-color: #f8f5f0;
}

.knob__item {
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 3px solid #e9e9e9;
	transition: all 0.3s;
}


/* .knob-kit {
	height: 155px;
	width: 100%;
	background-color: #f8f5f0;
	overflow-y: auto;
	scroll-snap-type: y proximity;
	scrollbar-color: #a76d50 #fff;
	scrollbar-width: thin;
	display: flex;
	flex-wrap: wrap;
}

.knob__item {
	width: 28%;
	height: auto;
	margin: 5px 0 5px 4.5%;
	background-color: #fff;
	border: 3px solid #e9e9e9;
	cursor: pointer;
	transition: all 0.3s;
}

.knob__item:hover {
	background-color: #f8f5f0;
} */



.result-kit {
	display: flex;
	height: 100%;
	width: 660px;
	background-color: #fff;
	margin: auto 0 auto auto;
	flex-wrap: wrap;
}

.result-box {
	display: flex;
	height: 84%;
	width: 100%;
}

.func__btns {
	display: flex;
	width: 100%;
	height: 8%;
	background-color: #fff;
}

.func__btn {
	display: inline-flex;
	margin: auto;
	width: 200px;
	height: 60px;
	background-color: #fff;
	border: 3px solid #e9e9e9;
	cursor: pointer;
	transition: all 0.3s;
	text-decoration: none;
	color: #000;
}

.func__btn:hover {
	background-color: #f8f5f0;
}

.func__btn__text {
	text-decoration: none;
	color: #000;
	margin: auto;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;

}


.resultOut-kit {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 350px;
	/* background-color: #777; */
	/* background-color: #fff; */
	margin: auto;
	/* margin-left: 5%; */
}

.resultIn-kit {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 310px;
	/* background-color: #888; */
	/* background-color: #fff; */
	margin: auto;
	/* margin-left: 5%; */
}

/* .facing-result-box {
	height: 100%;
} */

.resultOut-item {
	/* margin: 20% auto auto 9%; */
	height: auto;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: none;
}

.resultOut-specItem {
	/* margin: 20% auto auto 9%; */
	height: auto;
	width: 80%;
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}

.resultIn-item {
	/* margin: 20% auto auto 14%; */
	height: auto;
	width: 80%;
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.resultIn-specItem {
	/* margin: 20% auto auto 14%; */
	height: auto;
	width: 80%;
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}

.select-side__btns {
	display: flex;
	width: 100%;
	height: 8%;
	background-color: #fff;
}

.select-side__btn {
	display: inline-flex;
	margin: auto;
	width: 200px;
	height: 60px;
	background-color: #fff;
	border: 3px solid #e9e9e9;
	cursor: pointer;
	transition: all 0.3s;
}

.select-side__btn:hover {
	background-color: #f8f5f0;
}

.select-side__text {
	margin: auto;
	font-family: 'Merriweather', serif;
	font-size: 16px;
}


.wallpapper {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 1000;
}

.wallpapper__wrapper {
	position: absolute;
	width: 60%;
	margin: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
}

.wallpapper__wrapper::before {
	content: '';
	display: block;
	padding-top: 66.666%;
}

/* .wallpapper__img {
	position: absolute;
	width: 70%;
	margin: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
} */

.wallpapper__img {
	position: absolute;
	width: 100%;
	margin: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
}

.wallpapper__img::before {
	content: '';
	display: block;
	padding-top: 66.666%;
}

.wallpapper__box {
	height: 100%;
	width: 47.5%;
	z-index: 10000;
	margin: -61.5% auto auto 41.1%;
}

.wallpapper-result {
	position: relative;
	display: inline-block;
	margin: auto;
	width: 50%;
	height: auto;
	z-index: 10000;
}

.wallpapper-result::after {
	content: '';
	display: block;
	padding-top: 200%;
}

.wallpaper__x-box {
	display: flex;
	position: absolute;
	width: 3vw;
	height: auto;
	padding: 0.5%;
	top: 50%;
	left: 97%;
	transform: translate(-50%, -50%);
	margin: 0;
	z-index: 100000000;
	margin: -37% auto auto auto;
	background-color: #eee;
	cursor: pointer;
}

.wallpapper__x-box::after {
	content: '';
	display: block;
	padding-top: 100%;
}

.wallpaper__x {
	width: 100%;
	height: 100%;
}

/* .wallpaper__x {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1000000;
}

.wallpaper__x:before,
.wallpaper__x:after {
	content: '';
	position: absolute;
	width: 36px;
	height: 4px;
	background-color: #333;
	border-radius: 2px;
	top: 16px;
}

.wallpaper__x:before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 2px;
}

.wallpaper__x:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	right: 2px;
} */

/* .wallpaper__x {
	width: 2%;
	height: 2;
	position: relative;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.wallpaper__x:before,
.wallpaper__x:after {
	content: "";
	position: absolute;
	z-index: -1;
	background: #d00;
}

.wallpaper__x:before {
	left: 50%;
	width: 30%;
	margin-left: -15%;
	height: 100%;
}

.wallpaper__x:after {
	top: 50%;
	height: 30%;
	margin-top: -15%;
	width: 100%;
} */

.wallpaper__underlay {
	display: none;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	z-index: 1000;
}

.underlay {
	display: none;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	z-index: 1000;
}

.facingOut-underlay {
	/* display: none; */
	background: #000;
	position: absolute;
	/* left: 0;
	top: 0; */
	height: 145px;
	width: 42.5%;
	opacity: 0.6;
	z-index: 100;
	margin: -5px -5px -5px -5px;
}

.facingOut-underlay__text {
	/* display: none; */
	position: absolute;
	/* left: 0;
	top: 0; */
	height: 145px;
	width: 42.5%;
	/* opacity: 0.4; */
	opacity: 1;
	margin: 55px auto auto;
	font-size: 40px;
	text-align: center;
	z-index: 100;
	color: #fff;
}

.name-underlay {
	/* display: none; */
	background: #000;
	position: absolute;
	/* left: 0;
	top: 0; */
	height: 33px;
	width: 42.5%;
	opacity: 0.6;
	z-index: 1000;
	margin: 0px -5px -5px auto;
}

.modelsOut-result {
	z-index: 100;
}

.facingOut-result {
	z-index: 10;
}

.knobOut-result {
	z-index: 100;
}

.modelsIn-result {
	z-index: 100;
}

.facingIn-result {
	z-index: 10;
}

.knobIn-result {
	/* transform: scale(-1, 1); */
	z-index: 100;
}

.border {
	border: 3px solid #a76d50;
}

/* .border-none {
	border: none;
} */

.none {
	display: none;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.testbtn {
	display: none;
}


@media (max-width: 1150px) {

	.mobile__btn {
		display: inline-flex;
		margin: 5px auto;
		width: 45%;
		height: 75px;
		border: 3px solid #e9e9e9;
		background-color: #fff;
		flex-wrap: wrap;
		padding: 3px 0;
	}

	.mobile__btn-active {
		background-color: #f8f5f0;
		border: 3px solid #a76d50;
	}

	.mobile__btn-text {
		width: 100%;
		margin: auto;
		font-family: 'Merriweather', serif;
		text-align: center;
		font-size: 14px;
	}

	.mobile__btn-name {
		width: 100%;
		margin: 0;
		font-family: 'Merriweather', serif;
		text-align: center;
		font-size: 11px;
		/* color: #333; */
	}

	.wallpaper__underlay {
		display: none;
		background: #000;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.2;
		z-index: 1000;
	}

	.underlay {
		display: none;
		background: #000;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.2;
		z-index: 1000;
	}

	.facingOut-underlay {
		display: none;
		background: #000;
		position: absolute;
		/* left: 0;
		top: 0; */
		height: 145px;
		width: 42.5%;
		opacity: 0.6;
		z-index: 100;
		margin: -5px -5px -5px -5px;
	}

	.facingOut-underlay__text {
		display: none;
		position: absolute;
		/* left: 0;
		top: 0; */
		height: 145px;
		width: 42.5%;
		/* opacity: 0.4; */
		opacity: 1;
		margin: 55px auto auto;
		font-size: 40px;
		text-align: center;
		z-index: 100;
		color: #fff;
	}

	.name-underlay {
		display: none;
		background: #000;
		position: absolute;
		/* left: 0;
		top: 0; */
		height: 33px;
		width: 42.5%;
		opacity: 0.6;
		z-index: 1000;
		margin: 0px -5px -5px auto;
	}

	.wallpapper__wrapper {
		width: 90%;
	}

	.wallpaper__x-box {
		width: 5vw;
	}

	/* .wallpapper__box {
		position: absolute;
		height: 100%;
		width: 33.5%;
		z-index: 10000;
		margin: 14.35% auto auto 43.7%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} */

	/* .wallpapper__img {
		width: 90%;
	} */

	/* .wrapper-kit {
		position: relative;
		display: flex;
		max-height: 1600px;
		height: auto;
		width: 100%;
		background-color: #fff;
		margin: 0 auto auto;
		flex-wrap: wrap;
	} */

	.wrapper-kit {
		position: relative;
		display: flex;
		max-height: 1600px;
		height: auto;
		width: 100%;
		background-color: #fff;
		margin: 0 auto auto;
		flex-wrap: wrap;
		-webkit-position: relative;
		-webkit-display: flex;
		-webkit-max-height: 1600px;
		-webkit-height: auto;
		-webkit-width: 100%;
		-webkit-background-color: #fff;
		-webkit-margin: 0 auto auto;
		-webkit-flex-wrap: wrap;
	}

	.name-item {
		display: none;
	}

	.menu-kit {
		display: flex;
		height: 180px;
		width: 100%;
		max-width: 100%;
		background-color: #f8f5f0;
		flex-wrap: wrap;
		/* margin-left: 0; */
		padding: 5px 0;
	}

	.models-kit {
		display: none;
		position: fixed;
		z-index: 10000;
		width: 90vw;
		height: auto;
		max-height: 50vh;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		align-content: start;
	}


	.modelsOut__item-box {
		display: inline-flex;
		width: 29%;
		height: auto;
		margin: 5px 0 5px 3%;
		/* background-color: #fff; */
		/* border: 3px solid #e9e9e9; */
		cursor: pointer;
		/* transition: all 0.3s; */
	}

	.modelsOut__item-box::after {
		content: '';
		display: block;
		padding-top: 100%;
	}

	.facingOut-kit {
		display: none;
		position: fixed;
		z-index: 10000;
		width: 90vw;
		height: 50vh;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		padding-left: 0px;
	}

	.facingOut__item-box {
		width: 22%;
		height: auto;
		margin: 5px 0 5px 2.5%;
		background-color: #fff;
		/* border: 3px solid #e9e9e9; */
		cursor: pointer;
		scroll-snap-align: center;
		transition: all 0.3s;
	}

	.facingOut__item-box::after {
		content: '';
		display: block;
		padding-top: 100%;
	}

	/* .facingIn-kit {
		display: none;
		position: fixed;
		z-index: 10000;
		width: 90vw;
		height: 50vh;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		padding-left: 0px;
	}

	.facingIn__item {
		width: 22%;
		height: auto;
		margin: 5px 0 5px 3%;
		background-color: #fff;
		border: 3px solid #e9e9e9;
		cursor: pointer;
		scroll-snap-align: center;
		transition: all 0.3s;
	}

	.facingIn__item::after {
		content: '';
		display: block;
		padding-top: 81%;
	} */

	.facingIn-kit {
		display: none;
		position: fixed;
		z-index: 10000;
		width: 90vw;
		height: 50vh;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		padding-left: 0px;
	}

	.facingIn__item-box {
		width: 22%;
		height: auto;
		margin: 5px 0 5px 2.5%;
		background-color: #fff;
		/* border: 3px solid #e9e9e9; */
		cursor: pointer;
		scroll-snap-align: center;
		transition: all 0.3s;
	}

	.facingIn__item-box::after {
		content: '';
		display: block;
		padding-top: 100%;
	}

	/* .knob-kit {
		display: none;
		position: fixed;
		z-index: 10000;
		width: 90vw;
		height: 50vh;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	} */

	.knob-kit {
		display: none;
		position: fixed;
		z-index: 10000;
		width: 90vw;
		height: auto;
		max-height: 50vh;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		align-content: start;
	}


	.knob__item-box {
		display: inline-flex;
		width: 29%;
		height: auto;
		margin: 5px 0 5px 3%;
		/* background-color: #fff; */
		/* border: 3px solid #e9e9e9; */
		cursor: pointer;
		/* transition: all 0.3s; */
	}

	.knob__item-box::after {
		content: '';
		display: block;
		padding-top: 100%;
	}

	/*
	.knob-kit {
		display: none;
		position: fixed;
		z-index: 10000;
		width: 90vw;
		height: auto;
		max-height: 50vh;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}

	.knob__item {
		width: 28%;
		height: auto;
		margin: 5px 0 5px 4.5%;
		background-color: #fff;
		border: 3px solid #e9e9e9;
		cursor: pointer;
		transition: all 0.3s;
	}

	.knob__item::after {
		content: '';
		display: block;
		padding-top: 80%;
	} */

	/*
	.result-kit {
		position: relative;
		display: flex;
		min-height: 100px;
		height: 100%;
		width: 100%;
		background-color: #fff;
		margin: auto 0 auto auto;
		flex-wrap: wrap;
	} */

	.result-kit {
		position: relative;
		display: flex;
		min-height: 100px;
		height: 100%;
		width: 100%;
		background-color: #fff;
		margin: auto 0 auto auto;
		flex-wrap: wrap;
		-webkit-position: relative;
		-webkit-display: flex;
		-webkit-min-height: 100px;
		-webkit-height: 100%;
		-webkit-width: 100%;
		-webkit-background-color: #fff;
		-webkit-margin: auto 0 auto auto;
		-webkit-flex-wrap: wrap;
	}


	/* .result-box {
		display: flex;
		height: auto;
		width: 100%;
	} */

	.result-box {
		display: flex;
		-webkit-display: flex;
		height: auto;
		-webkit-height: auto;
		/* height: 90%; */
		width: 100%;
		-webkit-width: 100%;
	}

	/* .result-box::after {
		content: '';
		display: block;
		padding-top: 100%;
	} */

	.result-box::after {
		content: '';
		-webkit-content: '';
		display: block;
		-webkit-display: block;
		padding-top: 100%;
		-webkit-padding-top: 100%;
	}


	.func__btn {
		display: inline-flex;
		margin: 10px auto auto;
		width: 31%;
		height: 60px;
		padding: 1px;
		background-color: #fff;
		cursor: pointer;
	}

	.func__btn__text {
		font-size: 14px;
	}

	.resultOut-kit {
		position: relative;
		display: inline-block;
		height: 100%;
		width: 52%;
		background-color: #fff;
		margin: auto;
	}

	/* .resultOut-kit {
		position: relative;
		display: inline-block;
		height: 100%;
		width: 52%;
		background-color: #fff;
		margin: auto;
		-webkit-position: relative;
		-webkit-display: inline-block;
		-webkit-height: 100%;
		-webkit-width: 52%;
		-webkit-background-color: #fff;
		-webkit-margin: auto;
	} */

	.resultOut-item {
		height: 91, 5%;
		width: 83%;
		/* position: absolute; */
		display: none;
		margin: 7.5% auto auto 8%;
		top: auto;
		left: auto;
		transform: translate(0, 0);
		/* top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%); */
	}

	.resultIn-item {
		/* margin: 20% auto auto 14%; */
		height: auto;
		width: 79.7%;
		/* position: absolute; */
		display: none;
		margin: 8.5% auto auto 10%;
		top: auto;
		left: auto;
		transform: translate(0, 0);
	}

	/* .resultOut-item {
		height: 91,5%;
		-webkit-height: 91,5%;
		width: 83%;
		-webkit-width: 83%;
		position: absolute;
		-webkit-position: absolute;
		display: none;
		-webkit-display: none;
		top: 50%;
		-webkit-top: 50%;
		left: 50%;
		-webkit-left: 50%;
		margin-right: -50%;
		-webkit-margin-right: -50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	} */

	.resultIn-kit {
		position: relative;
		display: inline-block;
		height: 100%;
		width: 48%;
		background-color: #fff;
		margin: auto;
	}

	/* .resultIn-kit {
		position: relative;
		display: inline-block;
		height: 100%;
		width: 48%;
		background-color: #fff;
		margin: auto;
		-webkit-position: relative;
		-webkit-display: inline-block;
		-webkit-height: 100%;
		-webkit-width: 48%;
		-webkit-background-color: #fff;
		-webkit-margin: auto;
	} */

	.select-side__btns {
		display: flex;
		width: 100%;
		height: 70px;
	}

	.select-side__btn {
		display: inline-flex;
		margin: auto;
		width: 31%;
		height: 60px;
		background-color: #fff;
		cursor: pointer;
	}

	.select-side__text {
		margin: auto;
		font-family: 'Merriweather', serif;
		text-align: center;
		font-size: 14px;
	}

	.none {
		display: none;
	}

	.block {
		display: block;
	}

	.flex {
		display: flex;
	}

	.border {
		border: 3px solid #a76d50;
	}

	.border-none {
		border: none;
	}

}

@media (max-width: 576px) {

	.wallpaper__x-box {
		width: 6.5vw;
		margin: -39% auto auto auto;
	}
}
